html,
body {
	background-color: #111;
	color: #fff;
}
summary,
button {
	color: #fff;
}
input[type='number'] {
	color: #111;
}
summary:hover {
	background-color: #333;
}

/* lighter blues */
button:focus,
summary:focus,
input[type='number']:focus,
a:focus {
	border-color: #69f;
}

.group-details,
a,
summary svg {
	color: #69f;
}
